@media only screen and (max-width:903px){
    header{
        clip-path: none; 
    }
    .flex-column-auto{
        flex-direction: column;
    }
    .freelancer{
        clip-path: none;
    }
    .w-100-auto{
        width: 100vw;
    }
    .slide h1{
        font-size: 20px;
    }
    .slide p{
        font-size: 15px;
    }
    .vtt{
        font-size: 17px !important;
    }
}

@media only screen and (max-width:903px) and (min-width:450px){  
    .card-wrapper{
        grid-template-columns: repeat(2,40vw);
        grid-template-rows: 3;
    }
}

@media only screen and (max-width:449px){
    .card-wrapper{
        grid-template-columns: repeat(1,80vw);
        grid-template-rows: 6;
    }
}

@media only screen and (max-width:780px){
    #about .container{
        flex-direction: column !important;
    }
} 
